<div class="container">


  <div style="border: 1px solid gray; padding: 0.5em; border-radius: 0.5em; margin-top: 2em; color: gray">
    <h4>
    <p>Howdy! Here's a list of awesome tasks to do (or not). Do you know any others? Add to the list yourself.</p>
    </h4>

    <form (submit)="addName()" class="form-inline">
      <input [(ngModel)]="newName" name="newName" placeholder="Awesome Task's CRUD" class="form-control">
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

  <p style="color: red">{{ errorMessage }}</p>


  <div style="border: 1px solid gray; padding: 0.5em; border-radius: 0.5em; margin-top: 2em; color: gray">
    <div class="bg-info" style="border: 1px solid gray; padding: 0.5em; border-radius: 0.5em; margin-top: 2em; color: gray">
      Click on the task to edit. You can use &lt;enter&gt; or &lt;esc&gt; keys.
    </div>
    <table class="table table-striped" style="margin-top: 1em">
      <tbody>
        <tr *ngFor="let item of names">
          <td>{{ item.id }}</td>
          <td (click)="edit(item.id)">
            <span *ngIf="editId==item.id" class="form-inline">
              <input #taskEditText type="text" [(ngModel)]="editTask" (keydown.enter)="save()" (keydown.esc)="saveCancel()" class="form-control"/>
              <button (click)="save()" class="btn btn-info btn-sm">Save</button>
              <button (click)="saveCancel()" class="btn btn-warning btn-sm">Cancel</button>
              {{taskEditText.focus()}}
            </span>
            {{ item.task }}
          </td>
          <td>
            <span (click)="done(item.id,!item.done)">
              <span *ngIf="item.done" class="glyphicon glyphicon-ok" aria-hidden="true" style="color: green"></span>
              <span *ngIf="!item.done" class="glyphicon glyphicon-pencil" aria-hidden="true" style="color: red"></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>